:root {
  --primary-color: #ff6600;
  --secondary-color: #2d88bbff;
  --tertiary-color: #f29c0c;
  --background-color: #1c2534;
  --text-color: #fff;
  --highlight-color: #6ebb2d;
  --font-family: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.navbar {
  height: 120px;
  transition: height 0.3s, line-height 0.3s;
}


.img-logo {
  height: 100%;
  max-height: 105px;
  transition: transform 0.3s ease;
}

.img-logo:hover {
  transform: scale(1.05);
}

.general-img {
  aspect-ratio: 1 / 1;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  padding: 0;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.general-img:hover {
  transform: scale(1.05);
}

a {
  text-align: center;
  text-decoration: none;
}

.navbar-brand {
  display: block;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: var(--secondary-color);
  transform: scale(1.3);
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding-left: 30px;
}

.nav-link {
  margin: 16px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--secondary-color) !important;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}


.container {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1c2534;
}

.row-ninth {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0;
  background-color: var(--secondary-color);
  gap: 5px;
}

.row-ninth-col {
  margin: 5px;
  text-align: center;
}

.row-ninth .row-ninth-col a,
.row-ninth .row-ninth-col a i {
  font-size: 2rem;
  color: #ffffff !important;
  transition: color 0.3s ease-in-out;
}

.row-ninth .row-ninth-col a:hover,
.row-ninth .row-ninth-col a i:hover {
  color: #f29c0c !important;
}

.row-overseas,
.row-N-taiwan,
.row-M-taiwan,
.row-S-taiwan,
.row-E-taiwan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.row-overseas {
  grid-template-areas:
    "title title title title"
    "store store . ."
    "image image . ."
    "icons icons . .";
}

.row-N-taiwan {
  grid-template-areas:
    "title title title title"
    "db db lj lj"
    "db-image db-image lj-image lj-image"
    "db-icons db-icons lj-icons lj-icons"
    "st st . ."
    "st-image st-image . ."
    "st-icons st-icons . .";
}

.row-M-taiwan {
  grid-template-areas:
    "title title title title"
    "ch ch . ."
    "ch-image ch-image . ."
    "ch-icons ch-icons . .";
}

.row-S-taiwan {
  grid-template-areas:
    "title title title title"
    "fc fc . ."
    "fc-image fc-image . ."
    "fc-icons fc-icons . .";
}

.row-E-taiwan {
  margin-bottom: 70px;
  grid-template-areas:
    "title title title title"
    "tt tt . ."
    "tt-image tt-image . ."
    "tt-icons tt-icons . .";
}

.col-title {
  grid-area: title;
}

.col-store {
  grid-area: store;
}

.col-db {
  grid-area: db;
}

.col-lj {
  grid-area: lj;
}

.col-st {
  grid-area: st;
}

.col-ch {
  grid-area: ch;
}

.col-fc {
  grid-area: fc;
}

.col-tt {
  grid-area: tt;
}

.col-img {
  grid-area: image;
}

.col-db-img {
  grid-area: db-image;
}

.col-lj-img {
  grid-area: lj-image;
}

.col-st-img {
  grid-area: st-image;
}

.col-ch-img {
  grid-area: ch-image;
}

.col-fc-img {
  grid-area: fc-image;
}

.col-tt-img {
  grid-area: tt-image;
}


.col-icons,
.col-db-icons,
.col-lj-icons,
.col-st-icons,
.col-ch-icons,
.col-fc-icons,
.col-tt-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.col-icons {
  grid-area: icons;
}

.col-db-icons {
  grid-area: db-icons;
}

.col-lj-icons {
  grid-area: lj-icons;
}

.col-st-icons {
  grid-area: st-icons;
}

.col-ch-icons {
  grid-area: ch-icons;
}

.col-fc-icons {
  grid-area: fc-icons;
}

.col-tt-icons {
  grid-area: tt-icons;
}

.col-icons i,
.icon-link i:hover {
  color: #47a1ef;
}

.col-icons,
.icon-link {
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.icon-link i,
.icon-link img {
  font-size: 70px;
  color: white;
  width: 70px;
  height: auto;
  border-radius: 100px;
}

h1,
h4,
h5,
p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family);
  white-space: nowrap;
}

h1 {
  margin: 10px;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
}

h4 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
  padding: 0.4em 1em;
  max-width: 100%;
  min-width: 150px;
  margin: 0;
  color: var(--text-color);
  line-height: 1.3;
}

h5 {
  font-size: 1.5vw;
  padding: 0.4em 1em;
  max-width: 90%;
  min-width: 150px;
  margin: 0;
  border-radius: 100px;
  color: var(--text-color);
  background-color: var(--primary-color);
  line-height: 1.3;
}

p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
}


@media (max-width: 767px) {

  .container,
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
  }

  .header {
    width: auto;
  }

  .navbar {
    height: 60px;
    width: 100%;
    transition: height 0.3s, line-height 0.3s;
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .navbar-collapse {
    justify-content: flex-start;
    background-color: var(--text-color);
  }

  .navbar-toggler {
    margin-right: 20px;
  }

  .general-img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .col-img:hover,
  .col-db-img:hover,
  .col-lj-img:hover,
  .col-st-img:hover,
  .col-ch-img:hover,
  .col-fc-img:hover,
  .col-tt-img:hover {
    transform: scale(1.05);
  }


  .img-logo {
    height: 50%;
    max-height: 50px;
    transition: transform 0.3s ease;
  }

  .img-logo:hover {
    transform: scale(1.05);
  }

  .row-ninth {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
    background-color: var(--secondary-color);
    gap: 5px;
  }

  .row-ninth-col {
    margin: 5px;
    text-align: center;
  }

  .row-ninth .row-ninth-col a,
  .row-ninth .row-ninth-col a i {
    font-size: 2rem;
    color: #ffffff !important;
    transition: color 0.3s ease-in-out;
  }

  .row-ninth .row-ninth-col a:hover,
  .row-ninth .row-ninth-col a i:hover {
    color: #f29c0c !important;
  }

  h1,
  h2,
  h4,
  h5,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Josefin Sans;
    white-space: nowrap;
  }

  h1 {
    margin: 10px;
    font-size: clamp(3rem, 3vw, 5rem);
    font-weight: 700;
  }

  h4 {
    font-size: clamp(2.5rem, 5vw, 3rem);
    font-weight: 700;
    padding: 0.4em 1em;
    max-width: 100%;
    min-width: 150px;
    margin: 0px;
    color: #ffffff;
    line-height: 1.3;
  }

  h5 {
    font-size: 1.5vw;
    padding: 0.4em 1em;
    max-width: 90%;
    min-width: 150px;
    margin: 0px;
    border-radius: 100px;
    color: #ffffff;
    background-color: #cc6600;
    line-height: 1.3;
  }

  p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 60px;
  }

  .row-overseas,
  .row-N-taiwan,
  .row-M-taiwan,
  .row-S-taiwan,
  .row-E-taiwan {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .row-overseas {
    margin: 120px 0 30px 0;
    grid-template-areas:
      "title"
      "store"
      "image"
      "icons";
  }

  .row-N-taiwan {
    margin-top: 30px;
    grid-template-areas:
      "title"
      "db"
      "db-image"
      "db-icons"
      "lj"
      "lj-image"
      "lj-icons"
      "st"
      "st-image"
      "st-icons";
  }

  .row-M-taiwan {
    margin-top: 30px;
    grid-template-areas:
      "title"
      "ch"
      "ch-image"
      "ch-icons";
  }

  .row-S-taiwan {
    margin-top: 30px;
    grid-template-areas:
      "title"
      "fc"
      "fc-image"
      "fc-icons";
  }

  .row-E-taiwan {
    margin-top: 30px;
    grid-template-areas:
      "title"
      "tt"
      "tt-image"
      "tt-icons";
  }

}

/* 平板螢幕 */
@media (min-width: 768px) and (max-width: 1024px) {

  .container,
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .navbar {
    height: 120px;
    width: 100%;
    max-width: 100%;
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .navbar-collapse {
    justify-content: flex-start;
    background-color: var(--text-color);
  }

  .navbar-toggler {
    margin-right: 20px;
  }

  .row-ninth {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
    background-color: var(--secondary-color);
    gap: 5px;
  }

  .row-overseas,
  .row-N-taiwan,
  .row-M-taiwan,
  .row-S-taiwan,
  .row-E-taiwan {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .row-overseas {
    margin-top: 120px;
    grid-template-areas:
      "title"
      "store"
      "image"
      "icons";
  }

  .row-N-taiwan {
    margin-top: 30px;
    grid-template-areas:
      "title"
      "db"
      "db-image"
      "db-icons"
      "lj"
      "lj-image"
      "lj-icons"
      "st"
      "st-image"
      "st-icons";
  }

  .row-M-taiwan {
    margin-top: 30px;
    grid-template-areas:
      "title"
      "ch"
      "ch-image"
      "ch-icons";
  }

  .row-S-taiwan {
    margin-top: 30px;
    grid-template-areas:
      "title"
      "fc"
      "fc-image"
      "fc-icons";
  }

  .row-E-taiwan {
    margin-top: 30px;
    margin-bottom: 70px;
    grid-template-areas:
      "title"
      "tt"
      "tt-image"
      "tt-icons";
  }

  h2 {
    text-align: center;
  }
}

/* 桌面螢幕 */
@media (min-width: 1025px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 190px;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
    font-family: Josefin Sans;
    color: #fff;
    background-color: #1c2534;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  .container {
    width: 95%;
  }

  .navbar {
    height: 120px;
    transition: height 0.3s, line-height 0.3s;
  }



  h4 {
    font-size: 1.5vw;
    padding: 0.4em 1em;
    max-width: 100%;
    min-width: 150px;
    margin: 0px;
    border-radius: 100px;
    color: #ffffff;
    line-height: 1.3;
  }

  .img-logo {
    height: 90%;
    transition: transform 0.3s ease;
  }

  .img-logo:hover {
    transform: scale(1.05);
  }
}
}