html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: Josefin Sans;
  color: #fff;
  background-color: #1c2534;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

section {
  max-width: 100%;
}

.firSec {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  text-decoration: none;
}

.container-fst {
  max-width: 95%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

a {
  text-align: center;
}

.navbar-brand {
  display: block;
  margin: 20px 0 16px 20px;
  font-size: 30px;
  font-weight: 700;
  color: #ff6600;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #2d88bbff;
  text-decoration: none;
  transform: scale(1.3);
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding-left: 30px;
}

.nav-link {
  margin: 16px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #2d88bbff !important;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

.nav-link:hover {
  color: #ff6600 !important;
  text-decoration: none;
  transform: scale(1.1);
}

.header-nav-btn {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 25px;
  font-weight: 600;
  margin: 10px;
  font-family: Josefin Sans;
  font-weight: 600;
  color: white;
  text-align: center;
  background-color: #6ebb2d;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

.header-nav-btn:hover {
  color: #ff6600;
  background-color: black;
  text-decoration: none;
  transform: scale(1.1);
}

.container {
  display: grid;
  width: 95%;
  max-width: 95%;
  margin: 170px auto;
  justify-content: center;
  align-items: center;
  background-color: #1c2534;
}

.row-overseas,
.row-N-taiwan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.row-overseas {
  gap: 30px;
  grid-template-areas:
    "title title title title"
    "store store . ."
    "image image . ."
    "icons icons . .";
}

.row-N-taiwan {
  gap: 30px;
  grid-template-areas:
    "title title title title"
    "db db lj lj"
    "db-image db-image lj-image lj-image"
    "db-icons db-icons lj-icons lj-icons "
    "st st . ."
    "st-image st-image . ."
    "st-icons st-icons . .";
}


.col-title {
  grid-area: title;
}

.col-store {
  grid-area: store;
}

.col-db {
  grid-area: db
}

.col-lj {
  grid-area: lj
}

.col-st {
  grid-area: st
}

.col-img {
  grid-area: image;
}

.col-db-img {
  grid-area: db-image;
}

.col-lj-img {
  grid-area: lj-image;
}

.col-st-img {
  grid-area: st-image;
}

.col-icons {
  grid-area: icons;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.col-db-icons {
  grid-area: db-icons;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.col-lj-icons {
  grid-area: lj-icons;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.col-st-icons {
  grid-area: st-icons;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.col-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.col-icons a:hover {
  background-color: #e0e0e0;
}

.icon-link i,
.icon-link img {
  font-size: 70px;
  width: 70px;
  height: auto;
}

@media (min-width: 768px) {
  .row-overseas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title title title title"
      "store store . ."
      "image image . ."
      "icons icons . .";
  }
}


h1,
h2,
h4,
h5,
p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Josefin Sans;
  white-space: nowrap;
}

h1 {
  margin: 10px;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
}

h4 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
  padding: 0.4em 1em;
  max-width: 100%;
  min-width: 150px;
  margin: 0px;
  color: #ffffff;
  line-height: 1.3;
}

h5 {
  font-size: 1.5vw;
  padding: 0.4em 1em;
  max-width: 90%;
  min-width: 150px;
  margin: 0px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #cc6600;
  line-height: 1.3;
}

p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
}

img {
  max-width: 500px;
  max-height: auto;
}

.img-logo {
  width: 7%;
  max-height: auto;

}

.btn {
  display: inline-block;
  align-content: center;
  margin: 10px;
  padding: 10px 42px;
  border: none;
  border-radius: 100px;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  line-height: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.btn-blue {
  color: #ffffffff;
  background-color: #2d88bbff;
}

.btn-org {
  color: #ffffffff;
  background-color: #f29c0c;
}

.btn:hover {
  background-color: black;
  transform: scale(1.1);
  text-decoration: none;
}

.btn-blue:hover {
  color: #0056b3;
}

.btn-org:hover {
  color: #ff6600;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .carousel {
    width: 100%;
    margin-top: 100px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .row-fst,
  .row-eighth {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }


  .row-sec,
  .row-third,
  .row-fourth,
  .row-fifth,
  .row-seventh,
  .row-sixth {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }


  .row-fst-col-3,
  .row-fst-col-4,
  .row-sec-col-1,
  .row-sec-col-2,
  .row-sec-col-3,
  .row-sec-col-4,
  .row-third-col-1,
  .row-third-col-2,
  .row-third-col-3,
  .row-fourth-1,
  .row-fourth-2,
  .row-fourth-3,
  .row-fifth-col-1,
  .row-fifth-col-2,
  .row-sixth-col-1,
  .row-sixth-col-2,
  .row-sixth-col-3,
  .row-sixth-col-4,
  .row-seventh-col-1,
  .row-seventh-col-2,
  .row-seventh-col-3,
  .row-seventh-col-4,
  .row-seventh-col-5,
  .row-seventh-col-6,
  .row-seventh-col-7,
  .row-seventh-col-8,
  .row-eighth-col-1,
  .row-eighth-col-2 {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 95%;
    width: 100%;
    grid-row: auto;
    grid-column: auto;
    margin: 5px auto;
  }

  p {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 60px;
  }

  .btn {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .row-eighth-col-3 {
    margin-bottom: 120px;
  }

  .row-ninth {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #2d88bbff;
    padding: 0;
  }

  .row-ninth-col {
    margin: 5px;
    text-align: center;
  }

  .row-ninth .row-ninth-col a,
  .row-ninth .row-ninth-col a i {
    margin: 20px;
    font-size: 2rem;
    color: #ffffff !important;
    transition: color 0.3s ease-in-out;
  }

  .row-ninth .row-ninth-col a:hover,
  .row-ninth .row-ninth-col a:hover i {
    color: #f29c0c !important;
  }

  footer {
    max-width: 100%;
    padding: 0;
  }

  h1 {
    margin: 0;
    font-size: clamp(1.2rem, 5vw, 3rem);
    font-weight: 700;
  }

  .img-logo {
    width: 30%;
    max-height: auto;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
}

/* 平板螢幕 */
@media (min-width: 768px) and (max-width: 1023px) {

  .container {
    width: 100%;
    padding: 0;
  }

  .row-fst {
    column-gap: 10px;
  }

  .row-sixth {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 100%;
    column-gap: 5px;
  }

  .row-sixth-col-1 {
    grid-column: 1 / 2;
  }

  .row-sixth-col-2 {
    grid-column: 2 / 3;
  }

  .row-sixth-col-3 {
    grid-column: 3 / 4;
  }

  .row-sixth-col-4 {
    grid-column: 4/ 5;
  }

  .btn {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
  }

  p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 60px;
  }

  .row-ninth {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #2d88bbff;
    padding: 0;
  }
}

/* 桌面螢幕  */
@media (min-width: 1024px) {

  .container {
    width: 95%;
    margin: 200px 0px;

  }

  .row-ninth {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #2d88bbff;
    padding: 0;
  }

  .btn {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h4 {
    font-size: 1.5vw;
    padding: 0.4em 1em;
    max-width: 100%;
    min-width: 150px;
    margin: 0px;
    border-radius: 100px;
    color: #ffffff;
    line-height: 1.3;
  }
}